.settings-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.ReactModal__Body--open {
    overflow: hidden;
}

.settings-modal {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    max-width: 640px;
    min-height: 45vh;
    background-color: var(--bg-color);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.7);
    padding: 20px 20px 30px;
}

.settings-modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.settings-modal-header .heading {
    font-size: 1.5rem;
}

.settings-modal-header .close {
    border-radius: 50%;
    line-height: 1;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    width: 36px;
    height: 36px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-modal-header .close .icon {
    width: 75%;
    height: 75%;
}

.set-cards-range {
    margin: 10px 0 15px;
}

.set-cards-range .range-wrap {
    display: flex;
    align-items: center;
    padding: 8px 0 5px;
}

.set-cards-range .range-value {
    margin-left: 10px;
    line-height: 1;
}

.set-cards-range input {
    width: 210px;
}

.set-cards-timeout .timeout-radio-group {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.set-cards-timeout .timeout-option-label {
    padding-left: 6px;
    user-select: none;
}

.set-cards-timeout .timeout-option {
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media (min-width: 576px) {
    .settings-modal {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
    }
}

@media (min-width: 768px) {
    .settings-modal {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65vw;
        padding: 30px 30px 40px;
    }
}

@media (min-width: 1024px) {
    .settings-modal {
        width: 60vw;
        min-height: 40vh;
    }
}
