#root {
  max-width: 840px;
  min-width: 360px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px;
}

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.actions .btn {
  margin-right: 15px;
  margin-top: 15px;
}

@media (min-width: 768px) {
  #root {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  #root {
    width: 70%;
  }
}

@media (min-width: 1366px) {
  #root {
    width: 60%;
  }
}
